{% extends "base.html" %}
{% load static %}

{% block content %}
    <img class="mx-2 mb-2" src="{% static 'assets/images/mw-logo.png' %}" alt="Motor werks logo">
    <img class="main-image mx-auto mt-4 mb-3" src="{% static 'assets/images/2014-audi-r8-v8-wallpaper-preview.jpg' %}"
        alt="image of an audi r8 in the dark">
        <br>
        {% if request.user.is_authenticated %}
        <h1 class="mx-auto mt-2 mb-2">Welcome back, {{ user.username }}</h1>
        <h1 class="mx-auto mt-2 mb-2">View our available services below,
        pay for your chosen service
        and we will come to you!</h1>
        <hr>
        <a class="btn btn-secondary" href="{% url 'services' %}">Services we offer</a>
   
    
    {% else %}
        <h1 class="mx-auto mt-3 mb-3">Welcome to <strong>Mötör-Werks</strong>, mobile vehicle repairs and servicing.
            <br> We have taken the stress out with our revolutionary
            5 tier system. <br> Please <strong>login</strong> below to access your <strong>Mötör-Werks</strong> account</h1>
            <hr>
        <a class="btn btn-secondary login" href="{% url 'account_login' %}">Login</a>
        <a class="btn btn-secondary" href="{% url 'services' %}">Services we offer</a>
    {% endif %}

{% endblock %}