{% extends "base.html" %}

{% block content %}

<div class="content-section">
    <h1>My Profile</h1>
    <div>
      <div class="card-body">
        <h3 class="mx-auto">Username: {{ user.username }}</h3>
        <hr>
        <h5 class="mx-auto mt-3 mb-2">Email: {{ user.email }}</h5>
        <h5 class="mx-auto mt-3 mb-2">Address: {{ user.street_address1 }},
                                               {{ user.street_address1 }}
        </h5>
        <h5 class="mx-auto mt-3 mb-2">Email: {{ user.email }}</h5>
      </div>
    </div>
    
  </div>

{% endblock content %}