@charset "UTF-8";


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  letter-spacing: 0.035em;
  background-color: #7a5e76;
  font-family: 'Uchen', serif;
}

/*------------------------------ Heading and text styling */
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #8daa91;
}

p {
  margin-bottom: 1rem;
  color: #8daa91;
}

/*------------------------------ Image, Masthead and headings with media queries */
.main-image {
  border-radius: 4rem;
  height: 22rem;
  width: 32rem;
  opacity: 0.6;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  background: linear-gradient(to bottom, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: url("../assets/images/backgroundimage.png");
}

.masthead h1,
.masthead .h1 {
  font-family: "Uchen";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (max-width: 450px) {
  .main-image {
      display: none;
    }
  
}

@media (max-width: 550px) {
  .main-image {
      border-radius: 4rem;
      height: 18rem;
      width: 25rem;
      opacity: 0.6;
    }
}

@media (min-width: 768px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
    padding-top: 20px;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*------------------------------ Nav styling imported from bootstrap (modified) */
.navbar-light .navbar-nav .nav-link {
  color: #8daa91;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #28112B;
  opacity: 0.9;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #8daa91;
  border: 1px solid #000;
}

#mainNav .navbar-toggler:hover {
  color: #fff;
  border: 1px solid #8daa91;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#mainNav .navbar-brand {
  color: #8daa91;
  font-weight: 700;
  padding: 0.9rem 0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    font-size: 200%;
    color: #8daa91;
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    background-color: #28112B;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #bdd6db;
  }

  #mainNav.navbar-shrink .nav-link {
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
}

.card-body {
  background-color: #28112B;
  color: #788475;
  border-radius: 0 2rem 0 2rem;
}

.card {
  border: #788475;
}

/*------------------------------ Link overrides */
a {
  color: #8daa91;
  text-decoration: none;
}

a:hover {
  color: #788475;
}

/*------------------------------ Button styling (bootstrap override) */
.btn-secondary {
  color: #8daa91;
  background: linear-gradient(to top, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
  border-color: #000;
}

.btn-secondary:hover {
  color: #fff;
  background: linear-gradient(to bottom, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
  border-color: #000;
}

.btn-sm {
  padding: 0.2rem 0.3rem;
  font-size: 0.95rem;
  border-radius: 0.2rem;
  width: 5.5rem;
  border: 0;
  letter-spacing: 0.05rem;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0.8rem;
  font-family: 'Uchen', serif;
  font-size: 80%;
  margin-top: 15px;
  letter-spacing: 0.1rem;
  border: 0;
}

/*------------------------------ Form styling */
label {
  display: inline-block;
  font-size: 25px;
  color: #bdd6db;
  padding-top: 10px;
  padding-bottom: 5px;
}

label.requiredField {
  font-size: 25px;
  color: #bdd6db;
  padding-top: 5px;
  padding-bottom: 3px;
}

.textinput {
  border-radius: 10px;
  min-width: 180px;
  width: 80%;
  height: 40px;
  text-align: center;
}

/*------------------------------ Social/contact links */
.contact-section {
  position: relative;
  width: 100%;
  background: linear-gradient(to top, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
  background-attachment: scroll;
  background-size: cover;
}

.contact-section .social {
  margin-top: 0.1rem;
  background-color: #28112B;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 4rem;
  background: linear-gradient(to top, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
  border-radius: 5%;
  line-height: 3rem;
  color: rgba(141, 170, 145, 0.6);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to bottom, rgba(94, 93, 92, 0.3) 0%, rgba(69, 54, 67, 0.7) 75%, #000 100%);
}

.contact-section .social a:active {
  color: #fff;
}

/*------------------------------ Footer styling */
.footer {
  padding: 1.5rem;
  color: #788475;
  background-color: #28112B;
}
