{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="section">
    <div class="container">
        <h4>Please confirm if you wish to continue with your purchase</h4>
        <button class="btn btn-success" id="confirmBtn">Confirm purchase</button>
    </div>
    <br>
    <a class="btn btn-danger" href="{% url 'services' %}">Cancel</a>
</section>

<script>
    // Stripe payments script JS taken from TestDriven.io
// Get stripe publishable key
fetch("/payments/config/")
.then((result) => { return result.json(); })
.then((data) => {
  // Initialize Stripe.js
  const stripe = Stripe(data.publicKey);

    // Event handler
    document.querySelector("#confirmBtn").addEventListener("click", () => {
        // Get Checkout Session ID
        // Pass in the pk from the URL
        fetch("/payments/create-checkout-session/?pk={{ request.GET.pk }}")
        .then((result) => { return result.json(); })
        .then((data) => {
            // If route passed error, throw an Error. 
            if (data.error) {
              throw Error(data.error);
          } else {
            // Redirect to Stripe Checkout
            return stripe.redirectToCheckout({sessionId: data.sessionId});
          }
        })
        .then((res) => {
        console.log(res);
        });
    });
});
</script>


{% endblock %}