{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <h3>Thankyou {{ user.username }}, Your payment has been successful.</h3>
        <hr>
        <h5>You do not need to do anything else,</h5>
        <h5>Please make sure your contact details are up-to-date and</h5>
        <h5>We will be in touch shortly.</h5>
        <br>
        <a class="btn btn-secondary" href="{% url 'profiles' %}">GO HOME</a>
    </div>
</section>

<!-- JS Redirect script -->
<script src="{% static 'js/redirect.js' %}"></script>
{% endblock %}