{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <h3>Thank you, {{ user.username }}. Your payment has been successful.</h3>
        <hr>
        <h5>You do not need to do anything else.</h5>
        <h5>Please make sure your contact details are up-to-date, and</h5>
        <h5>we will be in touch shortly.</h5>
        <br>
        <form id="return-form">
            <p>You will now be redirected to the home page in</p>
            <p id="countdown"></p>
            <p>seconds</p>
        </form>
    </div>
</section>

<script src="{% static 'js/redirect.js' %}" data-countdown-id="countdown"></script>

{% endblock %}
