{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="Author: Chris Williams, Mötör-Werks, mobile vehicle repairs and servicing.
    We have taken the stress out with our revolutionary 5 tier system.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="mobile vehicle servicing, vehicle repair, tyre replacement, minor service, vehicle services, motors, 
    suspension repairs, major service, oil change, repairs, brake overhaul, brakes replacement,
    car inspections near me, car servicing near me, car mechanic near me, Motor Werks, shock absorber, suspension issues, 
    coil springs and shock absorbers, repair services, tyre wear">
    <meta name="google-site-verification" content="l7DY7IEvUt7X8PbyjlB1VODvtHdWP4cwkbuVFhifIsc" />
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="{% static 'assets/images/favicon/site.webmanifest' %}" crossorigin="use-credentials">
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/40ae6dc8bf.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Stripe payment scripts -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Mailchimp scripts -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}

    <title>Mötör-Werks | Vehicle servicing made simple</title>
</head>

<body>
    <!-- Navigation section-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}"><u>Mötör-Werks</u></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="{% url 'profiles' %}">{{ user.username }}'s Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>

                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="masthead">
        <div class="px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">

                    {% block content %}

                    <!-- Page content here -->

                    {% endblock content %}

                </div>
            </div>
        </div>
    </div>
    <!-- Social links-->
    <section class="contact-section">
        <div class="social d-flex justify-content-center">
            <a class="mt-2 mx-2" href="https://twitter.com/?lang=en" rel="noopener noreferrer nofollow" target="_blank"><i
                    class="fab fa-twitter"></i></a>
            <a class="mt-2 mx-2" href="https://en-gb.facebook.com/" rel="noopener noreferrer nofollow" target="_blank"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="mt-2 mx-2" href="https://github.com/Chr15w1986/Motor-Werks" rel="noopener noreferrer nofollow" target="_blank"><i
                    class="fab fa-github"></i></a>
        </div>

        <footer class="container-wrapper">
            <div class="content-container">
                <section class="footer">
                    <div class="row">
                        <div class="col-12 page-header mb-2">
                            <h2>Stay in touch with Motor-Werks:</h2>
                            <hr class="block-divider block-divider--short">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2>Socials</h2>
                            <p class="mb-0">Keep up to date with all our latest offers</p>
                            <a rel="noopener noreferrer nofollow" href="https://www.facebook.com/M%C3%B6t%C3%B6r-Werks-107405375426676" target="_blank"><i
                                    class="fab fa-facebook-square"></i> Follow Motor-Werks on
                                Facebook!</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Begin Mailchimp Signup Form -->
                            <div id="mc_embed_signup">
                                <form
                                    action="https://herokuapp.us11.list-manage.com/subscribe/post?u=364a2358a9fcbecca7463d3c7&amp;id=84c120eb41&amp;f_id=002e91e0f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Subscribe to our newsletter</h2>
                                        <p>Get exclusive offers and discount codes by subscribing to our monthly
                                            newsletter</p>
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates
                                            required</div>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                            </label>
                                            <input type="email" value="" name="EMAIL" class="required email"
                                                id="mce-EMAIL" required>
                                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - 
                                            do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                                type="text" name="b_364a2358a9fcbecca7463d3c7_84c120eb41" tabindex="-1"
                                                value=""></div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" value="Subscribe" name="subscribe"
                                                    id="mc-embedded-subscribe" class="btn btn-secondary">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--End mc_embed_signup-->
                        </div>
                        <div>
                            <a href="https://www.privacypolicygenerator.info/live.php?token=jvszoA9IInmv4CHKAeSVrx3ijbnjnlt5" rel="noopener noreferrer nofollow" target="_blank">Motor-Werks Privacy Policy</a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </section>

</body>

</html>