{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <img class="mb-2" src="{% static 'assets/images/mw-logo.png' %}" alt="Motor-Werks logo">
        <br>
        <h1 class="mx-auto mt-2 mb-2">What can we do for you today?</h1>
        
    {% for object in object_list %}
        <a class="btn btn-secondary" href="{% url 'services_detail' object.id %}">{{ object }}</a></li>
    {% endfor %}
        <br>
        <hr>
        <a class="btn btn-danger" href="{% url 'services' %}">GO BACK</a>
    {% else %}
    
        <img src="{% static 'assets/images/mw-logo.png' %}" alt="Motor-Werks logo">
        <br>
    {% for object in object_list %}
        <a class="btn btn-secondary" href="{% url 'services_detail' object.id %}">{{ object }}</a></li>
    {% endfor %}
        <br>
        <hr>
        <a class="btn btn-secondary login" href="{% url 'account_login' %}">Login</a>
    {% endif %}

{% endblock %}