{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row mt-3">
    <div class="col">
        <div class="card-body">
            <h3 class="card-title">{{ services.service_name }}</h3>
            <p class="card-text">{{ services.description }}</p>
            <p class="card-text">Price - £{{ services.price }}</p>
            {% if request.user.is_authenticated %}
            <!-- Pass the pk as a get parameter to the payments route -->
            <a href="{% url 'payments' %}?pk={{ services.id }}" id="confirmBtn" class="btn btn-success">Buy Now!</a>
            {% endif %}
        </div>
    </div>
</div>
<a class="btn btn-danger" href="{% url 'services' %}">GO BACK</a>

{% endblock %}