{% extends "base.html" %}
{% load static %}

{% block content %}

{% for service in services %}
<div class="row-6 mt-3">
    <div class="col-5">
        
            <div class="card-body">
                <h5 class="card-title">{{ service.servicename }}</h5>
                <p class="card-text">{{ service.description }}</p>
                <p class="card-text">Price - £{{ service.price }}</p>
                <a href="#" class="btn btn-secondary">Pay Now</a>
            </div>
        
    </div>
</div>

{% endfor %}

{% endblock %}